/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #f0f8ff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

#welcome {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#profile {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.content-section {
  position: relative;
  top: 15%;
  left: 30%;
  width: 40%;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.exercise-content {
  align-content: center;
  position: absolute;
  top: 25%;
  left: 25%;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #5f5f5f;
  height: 52px;
  width: 100%;
  position: absolute;
}

li {
  float: right;
}

li a {
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 22px 14px 16px;
}

li a:hover {
  background-color: #0d0d0d;
}

li a:active {
  background-color: #f1f1f1;
}

#loading {
  width: 80%;
  top: 20px;
  opacity: 0.7;
  text-align: center;
}

#loading-image {
  position: absolute;
}

.card {
  width: 40%;
  left: 30%;
  text-align: center;
  display: none;
  margin-bottom: 30px;
}

.row {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #e3e3e3;
}

#showHistory {
  margin-top: 12px;
}

#exerciseTitle {
  display: block;
  margin-top: 80px;
  text-align: center;
  text-decoration: underline;
}

#progressTitle {
    text-align: center;
}

canvas {
  margin-bottom: 100px;
  width:600px !important;
  height:400px !important;
}
