/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #f0f8ff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

#welcome {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.content-section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.exercise-content {
  position: fixed;
  top: 25%;
  left: 25%;
  margin-bottom: 20px;
}
