<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="static/main.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {% if current_user.is_authenticated %}
      <ul>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('pickexercise') }}">Exercises</a></li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
      </ul>
    {% else %}
    {% endif %}
    <div class="container" id="welcome">
      <h2 class="display-4">Welcome to AI Physical Therapist</h2>
      {% if current_user.is_authenticated %}
      {% else %}
        <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Log In</a>
        <a type="button" class="btn btn-outline-success" href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </div>
  </body>
</html>
