<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link href="static/main.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Workout in Progress</title>
  </head>
  <body>
    <ul>
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
      <li><a href="{{ url_for('pickexercise') }}">Exercises</a></li>
      <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
    <div class="container">
      <h2>Workout in Progress</h2>
      <div id="loading">
        <img id="loading-image" src="{{url_for('static', filename='ajax-loader.gif')}}", alt="Doing Great ... " />
      </div>
      <a type="button" class="btn btn-outline-success" href="/feedback/{{movement.id}}">Stop Workout</a>
    </div>
    <script>
      $(window).load(function() {
        $('#loading').show();
      });
    </script>
  </body>
</html>
