<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="static/main.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Exercises</title>
  </head>
  <style>
    img{
      width: 262.5px;
    }
    img:hover{
      cursor: pointer;
    }
  </style>
  <body>
    <ul>
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      <li><a href="{{ url_for('progress') }}">Progress</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
      <li><a href="{{ url_for('pickexercise') }}">Exercises</a></li>
      <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
    <div class="container">
      {% if not exercises %}
        <h2>Specify a condition to receive exercise recommendations!</h2>
        <a type="button" class="btn btn-outline-success" href="{{ url_for('conditions') }}">Conditions</a>
      {% else %}
        <h2 id="exerciseTitle">Choose An Exercise</h2>
          <div class="exercise-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" style="width:50%;">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div class="row">
              {% for exercise in exercises %}
                <div class="col-4 text-center">
                  <a type="button" href="{{exercise.demo_link}}" target="_blank">
                    <h3>{{ exercise.title }}</h3>
                    <iframe width="420" height="315"
                            src = "{{exercise.demo_link}}">
                    </iframe>
                  </a>
                  <h5>{{ exercise.description }}</h5>
                  <br></br>
                  <a type="button" class="btn btn-outline-success btn-lg" href="/movement/{{exercise.id}}">Start Workout</a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </body>
  <script>
    //setTimeout(function() {
      //$('.alert').fadeOut('slow');
    //}, 5000);
  </script>
</html>
