<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="static/main.css" rel="stylesheet">
    <meta charset="utf-8">
    </head>
      <style>
          img{
              width: 262.5px;
              height: 150px;
          }
          img:hover{
              cursor: pointer;
          }
      body{
        background-color: #ffffff;
      }
    </style>
    
    <body>
<div class="container">
    <h2 class="text-center font-weight-bold mt-3">
     Choose Your Exercise
    </h2>
<div class="row mt-5">
   <div class="col-sm-6 text-center">
<img src="/static/images/bicep.jpeg" onclick="window.location.href='https://www.google.com/'" >
   </div>
   <div class="col-sm-6 text-center">
    <img src="/static/images/shoulder.jpg" onclick="window.location.href='https://www.google.com/'">
</div>
</div>
<div class="row mt-5">
    <div class="col-sm-6 text-center">
 <img src="/static/images/squat.jpg" onclick="window.location.href='https://www.google.com/'">
    </div>
    <div class="col-sm-6 text-center">
     <img src="/static/images/stretch.jpg" onclick="window.location.href='https://www.google.com/'">
 </div>
 </div>
</div>
    </body>
</html>