<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="static/main.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <ul>
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      <li><a href="{{ url_for('progress') }}">Progress</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
      <li><a href="{{ url_for('pickexercise') }}">Exercises</a></li>
      <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
    <div class="container mt-5">
      <div id="profile">
        <h2 class="display-4">Hi, {{ current_user.username }}</h2>
        <button type="button" id="showConditions" class="btn btn-outline-primary">Update Conditions</button> <br>
        <button type="button" id="showHistory" class="btn btn-outline-success">Workout History</button>
      </div>
      <div class="content-section" style="top:0%; display: none;">
          <form method="POST" action="{{ url_for('conditions') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Choose Your Conditions</legend>
              <div class="form-group">
                {{ form.challenges.label(class="form-control-label") }}
                {% if form.challenges.errors %}
                  {{ form.challenges(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.challenges.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                  {{ form.challenges(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.goals.label(class="form-control-label") }}

                {% if form.goals.errors %}
                  {{ form.goals(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.goals.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                    {{ form.goals(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.level.label(class="form-control-label") }}
                {% if form.level.errors %}
                  {{ form.level(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.level.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                  {{ form.level(class="form-control form-control-lg") }}
                {% endif %}
              </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <p>You can specify up to two conditions.</p>
          </form>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Workouts you've completed:</h5>
            {% if not history %}
              You haven't completed any workouts!
            {% else %}
              {% for h in history %}
              <div class="row">
                <div class="col" style="padding-left: 0px;">
                  {{ h.Exercise.title }}
                </div>
                <div class="col">
                  {{ h.time_stamp.strftime("%c") }}
                </div>
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
    </div>
  <script>
    document.getElementById("challenges").value ="{{challenge.body_part.name}}"
    document.getElementById("goals").value ="{{challenge.goal.name}}"
    document.getElementById("level").value ="{{challenge.level.name}}"

    $('#showConditions').click(function () {
      $('.content-section').toggle('2000');
    })
    $('#showHistory').click(function () {
      $('.card').toggle('2000');
    })
  </script>
  </body>
</html>
